NODE_ENV="development" # Options: 'development', 'production'
PORT="8080"            # The port your server will listen on
HOST="localhost"       # Hostname for the server

CORS_ORIGIN="http://localhost:*" # Allowed CORS origin, adjust as necessary

COMMON_RATE_LIMIT_WINDOW_MS="1000" # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="20" # Max number of requests per window per IP
OWNER_ID = PUT_YOUR_USER_ID
WEBHOOK_APPROVAL_ID =  PUT_YOUR_APPROVAL_WEBHOOK_CHANNEL_ID
DB_PATH=./whitelist.db
BOT_TOKEN = PUT_YOUR_BOT_TOKEN
PORT = PUT_YOUR_PORT || 3000
IP_ADDRESS = PUT_YOUR_IP_ADDRESS
X_API_KEY = PUT_YOUR_X_API_KEY
DISCORD_WEBHOOK_URL=
